<!DOCTYPE html>
<html lang="zxx"> 
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="__INDEX_PUB__css/bootstrap1.css"	type="text/css" media="all">
<link rel="stylesheet" href="__INDEX_PUB__css/style1.css" type="text/css" media="all">
<link rel="stylesheet" href="__INDEX_PUB__css/fluid_dg.css" id="fluid_dg-css" type="text/css" media="all">
<link rel="stylesheet" href="__INDEX_PUB__css/font-awesome1.css" type="text/css" media="all">
<link rel="stylesheet" href="fonts/fontawesome-webfont.ttf" type="text/css" media="all">
<script src="__INDEX_PUB__js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="__INDEX_PUB__js/jquery-2.2.3.js"></script>

</head>
<body>
	<div class="agileheader" id="agileitshome">
		<!-- Navigation -->
		<nav class="navbar navbar-default w3ls navbar-fixed-top">
			<div class="container">
				<div class="navbar-header wthree nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand agileinfo" href=""><span>GROOVY</span> APPAREL</a> 
					<ul class="w3header-cart">
						<li class="wthreecartaits"><span class="my-cart-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge badge-notify my-cart-badge"></span></span></li>
					</ul>
				</div>
				<div id="bs-megadropdown-tabs" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="{:url('index/index/index')}" class="dropdown-toggle w3-agile hyper" ><span> 首页 </span></a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> 女装 </span></a>
							<ul class="dropdown-menu multi multi2">
								<div class="row" id="womenbaba">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-1" id="womencontainer">
										<ul class="multi-column-dropdown">
											<li class="heading"><a href="">女装</a></li>
											{foreach $womenbrands as $value}
											<li><a href="/index/product/womens?brand={$value.brandid}" class="womenbrand"><i class="fa fa-angle-right" aria-hidden="true"></i>{$value['brandname']}</a></li>
											{/foreach}
										</ul>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2">
										<p>A字型婚纱></p>
										<a href="{:url('index/product/womens')}">
											<img src="__INDEX_PUB__images/women-nav-1.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;">
										</a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-3">
										<p>蓬裙婚纱</p>
										<a href="{:url('index/product/womens')}">
											<img src="__INDEX_PUB__images/women-nav-2.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;">
										</a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-4">
										<p>迷你婚纱</p>
										<a href="{:url('index/product/womens')}">
											<img src="__INDEX_PUB__images/women-nav-3.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;">
										</a>
									</div>

									<div class="clearfix"></div>
									<p class="promo"></p>
								</div>

							</ul>
						</li>

						<li class="dropdown">
							<a href="/index/product/mens" class="dropdown-toggle hyper" data-toggle="dropdown"><span> 男装 </span></a>
							<ul class="dropdown-menu multi multi3" style="margin-left:  60px;">
								<div class="row" id="menbaba">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-1"  style="margin-left: 30px;" id="mencontainer"> 
										<ul class="multi-column-dropdown">
											<li class="heading"><a href="/index/product/mens">男装</a></li>
											{foreach $menbrands as $value}
											<li><a href="/index/product/mens?brand={$value['brandid']}" class="menbrand"><i class="fa fa-angle-right" aria-hidden="true"></i>{$value['brandname']}</a></li>
											{/foreach}
										</ul>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-2">
										<p>休闲</p>
										<a href="{:url('index/product/mens')}"><img src="__INDEX_PUB__images/other-nav-1.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;"></a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-3">
										<p>西服</p>
										<a href="{:url('index/product/mens')}"><img src="__INDEX_PUB__images/other-nav-2.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;"></a>
									</div>

									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>

							</ul>
						</li>
						<li  class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown">
								<span>婚戒 </span>
							</a>
							<ul class="dropdown-menu multi multi4" style="margin-left:  160px;">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-1" style="margin-left: 60px;">
										<ul class="multi-column-dropdown">
											<li class="heading">品牌</li>
											<li><a href="{:url('index/product/lists')}"><i class="fa fa-angle-right" aria-hidden="true"></i>DR</a></li>
											
										</ul>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-2">
										<p>指尖萦绕</p>
										<a href="{:url('index/product/lists')}"><img src="__INDEX_PUB__images/02wj.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;"></a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-3">
										<p>爱在你我</p>
										<a href="{:url('index/product/lists')}"><img src="__INDEX_PUB__images/03wj.jpg" alt="Groovy Apparel" style="width: 200px;height: 200px;"></a>
									</div>
									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span>婚礼服务 </span></a>
							<ul class="dropdown-menu multi multi4">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-1" style="margin-left: 60px;">
										<ul class="multi-column-dropdown">
											<li class="heading">婚礼服务</li>
											<li><a href="{:url('index/car/car')}"><i class="fa fa-angle-right" aria-hidden="true"></i>婚车送福</a></li>
											<li><a href="{:url('index/place/place')}"><i class="fa fa-angle-right" aria-hidden="true"></i>婚庆场地</a></li>
											<li><a href="{:url('index/user/member_index')}"><i class="fa fa-angle-right" aria-hidden="true"></i>个人中心</a></li>
										</ul>
									</div>
									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-2">
										<p>婚车</p>
										<a href="mens.html"><img src="__INDEX_PUB__images/other-nav-1.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-3">
										<p>场地</p>
										<a href="womens.html"><img src="__INDEX_PUB__images/other-nav-2.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>
							</ul>
						</li>
						<li class="wthreesearch">
							<form action="#" method="post">
								<input type="search" name="Search" placeholder="Search for a Product" required="">
								<button type="submit" class="btn btn-default search" aria-label="Left Align">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</li>
						{if !empty($Think.session.username)}
						<li class="wthreecartaits wthreecartaits2 cart cart box_1"> 
							<a href="{:url('index/shopcar/cart')}">	<i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
						</li>
						{/if}
					</ul>
				</div>
			</div>
		</nav>
		<!-- //Navigation -->
		<!-- Popup-Box -->
			<div id="popup1">
				<div id="small-dialog1" class="mfp-hide agileinfo">
					<div class="pop_up">
						<form action="#" method="post">
							<h3>LOGIN</h3>
							<input type="text" Name="Userame" placeholder="Username" required="">
							<input type="password" Name="Password" placeholder="Password" required="">
							<ul class="tick w3layouts agileinfo">
								<li>
									<input type="checkbox" id="brand1" value="">
									<label for="brand1"><span></span>Remember me</label>
								</li>
								<li>
									<a href="#">Forgot Password?</a>
								</li>
							</ul>
							<div class="send-button wthree agileits">
								<input type="submit" value="LOGIN">
							</div>
						</form>
					</div>
				</div>
				<div id="small-dialog2" class="mfp-hide agileinfo">
					<div class="pop_up">
						<form action="#" method="post">
							<h3>SIGN UP</h3>
							<input type="text" Name="Name" placeholder="Name" required="">
							<input type="text" Name="Email" placeholder="Email" required="">
							<input type="password" Name="Password" placeholder="Password" required="">
							<input type="text" Name="Phone Number" placeholder="Phone Number" required="">
							<div class="send-button wthree agileits">
								<input type="submit" value="SIGN UP">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- //Header-Top-Bar-(Hidden) -->
		<!-- Header-Slider -->
		<div class="w3slideraits">
			<div class="fluid_dg_wrap fluid_dg_emboss pattern_1 fluid_dg_white_skin" id="fluid_dg_wrap_4">
				<div data-thumb="__INDEX_PUB__images/s1-small.jpg" data-src="__INDEX_PUB__images/tu1.png"></div>
				<div data-thumb="__INDEX_PUB__images/slide-2-small.jpg" data-src="__INDEX_PUB__images/tu2.png"></div>
				<div data-thumb="__INDEX_PUB__images/slide-3-small.jpg" data-src="__INDEX_PUB__images/tu3.png"></div>
				<div data-thumb="__INDEX_PUB__images/slide-4-small.jpg" data-src="__INDEX_PUB__images/tu4.png"></div>
				<div data-thumb="__INDEX_PUB__images/slide-5-small.jpg" data-src="__INDEX_PUB__images/tu5.png"></div>
			</div>
		</div>
	 <!-- //Header-Slider -->
	</div>
	<!-- //Header -->
	<!-- Latest-Arrivals -->
	<div class="wthreehome-latest">
		<div class="container">
			<div class="wthreehome-latest-grids">
				<div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid1">
					<div class="grid">
					<a href="{:url('/index/product/womens')}">
						<figure class="effect-apollo">
							<img src="__INDEX_PUB__images/nv.png" alt="Groovy Apparel">
							<figcaption></figcaption>
						</figure>
					</a>
					</div>
					<h4>精品女装</h4>
					<h6><a href="{:url('/index/product/womens')}">Shop Now</a></h6>
				</div>
				<div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid2">
					<div class="grid">
					<a href="{:url('index/product/mens')}">
						<figure class="effect-apollo">
							<img src="__INDEX_PUB__images/nan.png" alt="Groovy Apparel" style="width:400xp;height: 350px;" >
							<figcaption></figcaption>
						</figure>
					</a>
					</div>
					<h4>精品男装</h4>
					<h6><a href="{:url('/index/product/mens')}">Shop Now</a></h6>
				</div>
				<div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid3">
					<div class="grid">
					<a href="{:url('index/product/womens_accessories')}">
						<figure class="effect-apollo">
							<img src="__INDEX_PUB__images/tou.png" alt="Groovy Apparel"  style="width:400xp;height: 350px;">
							<figcaption></figcaption>
						</figure>
					</a>
					</div>
					<h4>配饰</h4>
					<h6><a href="{:url('index/product/womens_accessories')}">Shop Now</a></h6>
				</div>
				<div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid4">
					<div class="grid">
					<a href="{:url('index/product/lists')}">
						<figure class="effect-apollo">
							<img src="__INDEX_PUB__images/dr.jpg" alt="Groovy Apparel" style="width:400xp;height: 350px;">
							<figcaption></figcaption>
						</figure>
					</a>
					</div>
					<h4>一生一世</h4>
					<h6><a href="{:url('index/product/lists')}">Shop Now</a></h6>
				</div>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<!-- //Latest-Arrivals -->
	<!-- Denim-Collection -->
	<div class="wthreedenim-coll">
		<div class="style-grids">
			<div class="col-md-6 style-grid style-grid-1">
				<img src="__INDEX_PUB__images/tu9.png" alt="Groovy Apparel" style="height: 850px;">
				<div class="style-grid-1-text">
					<h3>遇见你</h3>
					<p>遇见你的每一天都是晴天！</p>
					<div class="wthreeshop-a">
						<a href="{:url('index/product/womens')}">NOE SHOP</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 style-grid style-grid-2">
				<div class="style-image-1">
					<img src="__INDEX_PUB__images/tu7.png" alt="Groovy Apparel" style="height: 425px;">
					<div class="style-grid-2-text">
						<h3>WATER REPELLENT</h3>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
					</div>
				</div>
				<div class="style-image-2">
					<img src="__INDEX_PUB__images/tu6.png" alt="Groovy Apparel" style="height: 425px;">
					<div class="style-grid-2-text">
						<h3>STITCHED TO PERFECTION</h3>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //Denim-Collection -->
	<!-- Clearance-Sale -->
	<div class="aitsclearance-sales">
		<div class="aitsclearance-sales-text">
			<h2>ALL CLEARANCE ITEMS</h2>
			<h4>BUY ONE AND GET ONE FREE</h4>
			<h5>50% OFF <small>On selected products<sup>*</sup></small></h5>
			<div class="wthreeshop-a">
				<a href="{:url('index/product/mens')}">SHOP NOW</a>
			</div>
		</div>
	</div>
	<!-- //Clearance-Sale -->
	<!-- Footer -->
	<div class="agileinfofooter">
		<div class="agileinfofooter-grids">

			<div class="col-md-4 agileinfofooter-grid agileinfofooter-grid1">
				<ul>
					<li><a href="about.html">ABOUT</a></li>
					<li><a href="mens.html">MEN'S</a></li>
					<li><a href="mens_accessories.html">MEN'S ACCESSORIES</a></li>
					<li><a href="womens.html">WOMEN'S</a></li>
					<li><a href="womens_accessories.html">WOMEN'S ACCESSORIES</a></li>
				</ul>
			</div>

			<div class="col-md-4 agileinfofooter-grid agileinfofooter-grid2">
				<ul>
					<li><a href="stores.html">STORE LOCATOR</a></li>
					<li><a href="faq.html">FAQs</a></li>
					<li><a href="codes.html">CODES</a></li>
					<li><a href="icons.html">ICONS</a></li>
					<li><a href="contact.html">CONTACT</a></li>
				</ul>
			</div>

			<div class="col-md-4 agileinfofooter-grid agileinfofooter-grid3">
				<address>
					<ul>
						<li>40019 Parma Via Modena</li>
						<li>Sant'Agata Bolognese</li>
						<li>BO, Italy</li>
						<li>+1 (734) 123-4567</li>
						<li><a class="mail" href="mailto:mail@example.com">info@example.com</a></li>
					</ul>
				</address>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<!-- //Footer -->
<script src="__INDEX_PUB__js/jquery-2.2.3.js"></script>
<script src="__INDEX_PUB__js/modernizr.custom.js"></script>
<script src="__INDEX_PUB__js/minicart.js"></script>
	<script>
       $('.womenbrand').mouseover(function(e) {
			e.preventDefault();
			var tiao = $(this).prop('href');
			var weizhi = tiao.lastIndexOf('=');
			var brand = tiao.substr(weizhi+1);
			
			$.get('/index/product/getBrandClassAndGoods?brand='+brand,
				function(data) {
					data = eval('(' + data + ')');

					$('#womencontainer').siblings().remove();
					$('#womenbaba').append('<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2"><p>' + data[0]['classname'] + '</p><a href="/index/product/womens?brand="'+data[0]['brandid'] +'&classid="'+data[0]['classid']+'" ><img src="' + data[0]['src'] + '"</a></div>');
					$('#womenbaba').append('<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2"><p>' + data[1]['classname'] + '</p><a href="/index/product/womens?brand="'+data[1]['brandid'] +'&classid="'+data[1]['classid']+'" ><img src="' + data[1]['src'] + '"</a></div>');
					$('#womenbaba').append('<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2"><p>' + data[2]['classname'] + '</p><a href="/index/product/womens?brand="'+data[2]['brandid'] +'&classid="'+data[2]['classid']+'" ><img src="' + data[2]['src'] + '"</a></div>');

				})
		});
       $('.menbrand').mouseover(function(e) {
			e.preventDefault();
			var tiao = $(this).prop('href');
			var weizhi = tiao.lastIndexOf('=');
			var brand = tiao.substr(weizhi+1);
			
			$.get('/index/product/getBrandClassAndGoods?brand='+brand,
				function(data) {
					data = eval('(' + data + ')');
					$('#mencontainer').siblings().remove();
					/*
					<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2">
						<p>A字型婚纱</p>
						<a href="{:url('index/product/womens')}">
							<img src="__INDEX_PUB__images/women-nav-1.jpg" alt="Groovy Apparel">
						</a>
					</div>
					 */
					$('#menbaba').append('<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2"><p>' + data[0]['classname'] + '</p><a href="/index/product/womens?brand="'+data[0]['brandid'] +'&classid="'+data[0]['classid']+'" ><img src="' + data[0]['src'] + '"</a></div>');
					$('#menbaba').append('<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2"><p>' + data[1]['classname'] + '</p><a href="/index/product/womens?brand="'+data[1]['brandid'] +'&classid="'+data[1]['classid']+'" ><img src="' + data[1]['src'] + '"</a></div>');
				})
		});
    </script> 
	<script type='text/javascript' src='__INDEX_PUB__js/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='__INDEX_PUB__js/fluid_dg.min.js'></script>
	<script>jQuery(document).ready(function(){
			jQuery(function(){
				jQuery('#fluid_dg_wrap_4').fluid_dg({
					height: 'auto',
					loader: 'bar',
					pagination: false,
					thumbnails: true,
					hover: false,
					opacityOnGrid: false,
					imagePath: '',
					time: 4000,
					transPeriod: 2000,
				});
			});
		})
	</script>
	<script>
		$(document).ready(function(){
			$(".dropdown").hover(
				function() {
					$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
					$(this).toggleClass('open');
				},
				function() {
					$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<script src="__INDEX_PUB__js/jquery.magnific-popup.js" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
	<script src="__INDEX_PUB__js/jquery.film_roll.js"></script>
	<script>
		(function() {
			jQuery(function() {
				this.film_rolls || (this.film_rolls = []);
				this.film_rolls['film_roll_1'] = new FilmRoll({
					container: '#film_roll_1',
					height: 560
				});
				return true;
			});
		}).call(this);
	</script>
	<script src="__INDEX_PUB__js/bootstrap.js"></script>

</body>
</html>