<!DOCTYPE html>
<html lang="zxx"> 
<!-- Head -->
<head> 
<title>商品详情</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="__INDEX_PUB__css/bootstrap1.css"	 type="text/css" media="all">
<link rel="stylesheet" href="__INDEX_PUB__css/style1.css"		 type="text/css" media="all">
<link rel="stylesheet" href="__INDEX_PUB__css/flexslider.css" type="text/css" media="all">
<link rel="stylesheet" href="__INDEX_PUB__css/font-awesome1.css" 		 type="text/css" media="all">
<!-- <link rel="stylesheet" href="fonts/fontawesome-webfont.ttf" type="text/css" media="all"> -->
</head>
<body>
	<div class="agileheader">
		<nav class="navbar navbar-default w3ls navbar-fixed-top">
			<div class="container">
				<div class="navbar-header wthree nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand agileinfo" href="index.html"><span>GROOVY</span> APPAREL</a>
					<ul class="w3header-cart">
						<li class="wthreecartaits"><span class="my-cart-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge badge-notify my-cart-badge"></span></span></li>
					</ul>
				</div>
				<div id="bs-megadropdown-tabs" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="{:url('index/index/index')}" class="dropdown-toggle w3-agile hyper"><span> 首页 </span></a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> 女装 </span></a>
							<ul class="dropdown-menu multi multi2">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-1">
										<ul class="multi-column-dropdown">
											<li class="heading"><a href="">女装</a></li>
											<li><a href="{:url('index/product/womens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>Romona Keveza</a></li>
											<li><a href="{:url('index/product/womens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>Ersa Atelier</a></li>
											<li><a href="{:url('index/product/womens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>Zuhair Murad</a></li>
											<li><a href="{:url('index/product/womens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>Oscar de le renta</a></li>
											<li><a href="{:url('index/product/womens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>Ashi Studio</a></li>
										</ul>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2">
										<p>A字型婚纱</p>
										<a href="{:url('index/product/womens')}">
											<img src="__INDEX_PUB__images/women-nav-1.jpg" alt="Groovy Apparel">
										</a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-3">
										<p>蓬裙婚纱</p>
										<a href="{:url('index/product/womens')}">
											<img src="__INDEX_PUB__images/women-nav-2.jpg" alt="Groovy Apparel">
										</a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-4">
										<p>迷你婚纱</p>
										<a href="{:url('index/product/womens')}">
											<img src="__INDEX_PUB__images/women-nav-3.jpg" alt="Groovy Apparel">
										</a>
									</div>

									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>

							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> 男装 </span></a>
							<ul class="dropdown-menu multi multi3" style="margin-left:  60px;">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-1"  style="margin-left: 30px;"> 
										<ul class="multi-column-dropdown">
											<li class="heading">男装</li>
											<li><a href="{:url('index/product/mens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>法派西服</a></li>
											<li><a href="{:url('index/product/mens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>报喜鸟西服</a></li>
											<li><a href="{:url('index/product/mens')}"><i class="fa fa-angle-right" aria-hidden="true"></i>罗蒙西服</a></li>
										</ul>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-2">
										<p>休闲</p>
										<a href="{:url('index/product/mens')}"><img src="__INDEX_PUB__images/other-nav-1.jpg" alt="Groovy Apparel"></a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-3">
										<p>西服</p>
										<a href="{:url('index/product/mens')}"><img src="__INDEX_PUB__images/other-nav-2.jpg" alt="Groovy Apparel"></a>
									</div>

									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>

							</ul>
						</li>
						<li  class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown">
								<span>婚戒 </span>
							</a>
							<ul class="dropdown-menu multi multi4" style="margin-left:  160px;">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-1" style="margin-left: 60px;">
										<ul class="multi-column-dropdown">
											<li class="heading">品牌</li>
											<li><a href="{:url('index/product/lists')}"><i class="fa fa-angle-right" aria-hidden="true"></i>DR</a></li>
											
										</ul>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-2">
										<p>指尖萦绕</p>
										<a href="{:url('index/product/lists')}"><img src="__INDEX_PUB__images/other-nav-1.jpg" alt="Groovy Apparel"></a>
									</div>

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-3">
										<p>爱在你我</p>
										<a href="{:url('index/product/lists')}"><img src="__INDEX_PUB__images/other-nav-2.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span>婚礼服务 </span></a>
							<ul class="dropdown-menu multi multi4">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-1" style="margin-left: 60px;">
										<ul class="multi-column-dropdown">
											<li class="heading">婚礼服务</li>
											<li><a href="{:url('index/car/car')}"><i class="fa fa-angle-right" aria-hidden="true"></i>婚车送福</a></li>
											<li><a href="{:url('index/place/place')}"><i class="fa fa-angle-right" aria-hidden="true"></i>婚庆场地</a></li>
											<li><a href="{:url('index/user/member_index')}"><i class="fa fa-angle-right" aria-hidden="true"></i>个人中心</a></li>
										</ul>
									</div>
									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-2">
										<p>婚车</p>
										<a href="mens.html"><img src="__INDEX_PUB__images/other-nav-1.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-3">
										<p>场地</p>
										<a href="womens.html"><img src="__INDEX_PUB__images/other-nav-2.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span>婚礼服务 </span></a>
							<ul class="dropdown-menu multi multi4">
								<div class="row">

									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-1" style="margin-left: 60px;">
										<ul class="multi-column-dropdown">
											<li class="heading">婚礼服务</li>
											<li><a href="{:url('index/car/car')}"><i class="fa fa-angle-right" aria-hidden="true"></i>婚车送福</a></li>
											<li><a href="{:url('index/place/place')}"><i class="fa fa-angle-right" aria-hidden="true"></i>婚庆场地</a></li>
											<li><a href="{:url('index/user/member_index')}"><i class="fa fa-angle-right" aria-hidden="true"></i>个人中心</a></li>
										</ul>
									</div>
									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-2">
										<p>婚车</p>
										<a href="mens.html"><img src="__INDEX_PUB__images/other-nav-1.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-3">
										<p>场地</p>
										<a href="womens.html"><img src="__INDEX_PUB__images/other-nav-2.jpg" alt="Groovy Apparel"></a>
									</div>
									<div class="clearfix"></div>
									<p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
								</div>
							</ul>
						</li>
						<li class="wthreesearch">
							<form action="#" method="post">
								<input type="search" name="Search" placeholder="Search for a Product" required="">
								<button type="submit" class="btn btn-default search" aria-label="Left Align">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</li>
						{if !empty($Think.session.username)}
						<li class="wthreecartaits wthreecartaits2 cart cart box_1"> 
							<a href="{:url('index/shopcar/cart')}">	<i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
						</li>
						{/if}
					</ul>
				</div>
			</div>
		</nav>
		<!-- //Navigation -->
		<!-- Header-Top-Bar-(Hidden) -->
		<div class="agileheader-topbar">
			<!-- Popup-Box -->
			<div id="popup">
				<div id="small-dialog1" class="mfp-hide agileinfo">
					<div class="pop_up">
						<form action="#" method="post">
							<h3>LOGIN</h3>
							<input type="text" Name="Userame" placeholder="Username" required="">
							<input type="password" Name="Password" placeholder="Password" required="">
							<ul class="tick w3layouts agileinfo">
								<li>
									<input type="checkbox" id="brand1" value="">
									<label for="brand1"><span></span>Remember me</label>
								</li>
								<li>
									<a href="#">Forgot Password?</a>
								</li>
							</ul>
							<div class="send-button wthree agileits">
								<input type="submit" value="LOGIN">
							</div>
						</form>
					</div>
				</div>
				<div id="small-dialog2" class="mfp-hide agileinfo">
					<div class="pop_up">
						<form action="#" method="post">
							<h3>SIGN UP</h3>
							<input type="text" Name="Name" placeholder="Name" required="">
							<input type="text" Name="Email" placeholder="Email" required="">
							<input type="password" Name="Password" placeholder="Password" required="">
							<input type="text" Name="Phone Number" placeholder="Phone Number" required="">
							<div class="send-button wthree agileits">
								<input type="submit" value="SIGN UP">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Header -->
	<!-- Single-Product-View -->
	<div class="w3aitssinglewthree">
		<div class="container">

			<div class="products">
			<div class="single-page">
				<div class="single-page-row" id="detail-21">
					<div class="col-md-6 single-top-left">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="{$res['src']}">
									<div class="thumb-image detail_images"> <img src="{$res['src']}" data-imagezoom="true" class="img-responsive" alt="Groovy Apparel"></div>
								</li>
								<li data-thumb="{$res['src']}">
									 <div class="thumb-image"> <img src="{$res['src']}" data-imagezoom="true" class="img-responsive" alt="Groovy Apparel"></div>
								</li>
								<li data-thumb="{$res['src']}">
									<div class="thumb-image"> <img src="{$res['src']}" data-imagezoom="true" class="img-responsive" alt="Groovy Apparel"></div>
								</li> 
							</ul>
						</div>
					</div>
					<div class="col-md-6 single-top-right">
						<h1 class="item_name">{$res['gname']}</h1>
						<p>T给你不一样的感觉</p>
						<div class="rating">
						</div>
						<div class="single-price">
							<ul>
							{if $res['is_miao'] == 1}
								<li>秒杀：{$price}</li>
								<li  style="text-decoration:line-through;color:red;font-size: 20px;">￥：{$res['price']}</li>
							{else}
								<li >{$res['price']}</li>
							{/if}
								<li>{$res['addtime']|date="Y-m-d",###}</li>
								<li><a href="#">
								<i class="fa" aria-hidden="true"></i>库存量 : {$res['gcount']}</a>
								</li>
								<li><a href="#">
								<i class="fa" aria-hidden="true"></i>浏览量：{$res['see_count']}</a>
								</li>
								<li>
								<div class="bdsharebuttonbox">
								<a href=" " class="bds_more" data-cmd="more"></ a>
								<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></ a>
								<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></ a>
								<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></ a>
								<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></ a>
								<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></ a>
								</div>
								</li>
								<script>
								window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
								</script>
							</ul>
						</div>
						{if $res['is_miao'] == 1}
							<input type="hidden" name="" value="{$gid}">
							<input type="hidden" name="" value="{$price}">
							<div class="cbp-pgcontent aitssinglew3" >
								<button id="ms" class="btn btn-danger agileits my-cart-btn" data-id="mens_single" data-name="Black Leather Jacket" data-summary="Black Leather Jacket" data-price="67.5" data-quantity="1" data-image="images/s11.jpg" > Add To Cart</button>
								<div class="clearfix"></div>
							</div>
						{else}
							<input type="hidden" name="" value="{$gid}">
							<div class="cbp-pgcontent aitssinglew3" id="good">
								<button type='button' class="btn btn-danger agileits my-cart-btn" data-id="mens_single" data-name="Black Leather Jacket" data-summary="Black Leather Jacket" data-price="67.5" data-quantity="1" data-image="images/s11.jpg" > Add To Cart</button>
							
								<div class="clearfix"></div>
							</div>
						{/if}
						<div class="agilesocialwthree">
						{if $res['is_miao']== 1}
						<div id="day" style="font-size: 20px;">开始时间： {$time|date = "Y-m-d H:i:s",###}</div>
							<div class="time" style="height:10px;font-size: 40px;">
								<span id="t_d">00天</span>
							    <span id="t_h">00时</span>
							    <span id="t_m">00分</span>
							    <span id="t_s">00秒</span>
							    <input type="hidden" id="day" value="{$time}">
							  </div>
						
							{else}
 							<div><h4>Share this Product</h4></div>
							{/if}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="aitsaccordionw3layouts">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title asd">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">简介 <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body panel_text">
								<div class="scrollbar" id="style-2">
									{$res['detail']}
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">更多款式 (2) <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="accordion-image">
								<div class="ac-img">
									<a href="#"><img src="{$res['src']}" alt="Groovy Apparel"></a>
								</div>
								<div class="ac-img">
									<a href="#"><img src="{$res['src']}" alt="Groovy Apparel"></a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								评价 <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<h3>商品评价</h3>
							{foreach $con as $val}
								<h4>{$val['realname']}</h4>
								<p>{$val['content']}.</p>
								{if $val['class'] == 0}
									<span>好评</span>
								{/if}
								{if $val['class'] == 1}
									<span style='background: url("/static/index/images/4stars.png") no-repeat 0px 0px;color: #31708f;font-weight: 500;padding-left: 140px;padding-top: 4px;display: inline-block;'>中评</span>
								{/if}
								{if $val['class'] == 2}
									<span style='background: url("/static/index/images/2stars.png") no-repeat 0px 0px;color: #31708f;font-weight: 500;padding-left: 140px;padding-top: 4px;display: inline-block;'>差评</span>
								{/if}
							{/foreach}
						
						</div>
						
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">购物信息<span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<h3>Shipping</h3>
							<ul class="ship">
								<li class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 5-10 Business Days</li>
								<li class="home"><i class="fa fa-truck" aria-hidden="true"></i> Free Home Delivery</li>
								<li class="cod"><i class="fa fa-male" aria-hidden="true"></i> Cash On Delivery Available*</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
<script src="__INDEX_PUB__js/jquery-2.2.3.js"></script>
<script src="__INDEX_PUB__js/modernizr.custom.js"></script>
<script type="text/javascript">
var time = document.getElementById("day").innerHTML;

	flag = false;
// console.log(time);
$("#ms").attr("disabled", true);
  function GetRTime(){
  	d=0;
	h=0;
	m=0;
	s=0;
    var EndTime= new Date(time);
    var NowTime = new Date();
    var t =EndTime.getTime() - NowTime.getTime();
    if(t>=0){
      d=Math.floor(t/1000/60/60/24);
      h=Math.floor(t/1000/60/60%24);
      m=Math.floor(t/1000/60%60);
      s=Math.floor(t/1000%60);
    }
    console.log(d,h,m,s);
    document.getElementById("t_d").innerHTML = d + "天";
    document.getElementById("t_h").innerHTML = h + "时";
    document.getElementById("t_m").innerHTML = m + "分";
    document.getElementById("t_s").innerHTML = s + "秒";
  	
    if (!flag) {
    	if (d == 0 && h==0 && m==0 && s==0)
		{
			$("#ms").attr("disabled", false);
			setTimeout(function() {
				flag = true;
			 $("#ms").attr("disabled", true); 
			
			},5000);
			var gid = window.location.href;
			si = gid.lastIndexOf('/');
			gid = parseInt(gid.substr(si+1));
			$.get('/index/product/miaozhi0',{gid:gid});
		}
    } else {
    	$("#ms").attr("disabled", true);
    }
	
  }
setInterval(function() {
	if (!flag) {
		GetRTime();
	}
},30);
</script>
<script>
	$(document).ready(function(){
		$(".dropdown").hover(
			function() {
				$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
				$(this).toggleClass('open');
			},
			function() {
				$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
				$(this).toggleClass('open');
			}
		);
	});
</script>
<script defer src="__INDEX_PUB__js/jquery.flexslider.js"></script>
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		});
	});
</script>
<script src="__INDEX_PUB__js/imagezoom.js"></script>
<script src="__INDEX_PUB__js/bootstrap.js"></script>
<script>
//添加秒杀商品
$('#ms').click(function()
{
	var gid = $(this).prev().prev().val();
	var price = $(this).prev().val();
	//console.log(gid);
	$.get("/index/product/addms",{
		gid:gid,
		price:price
	},function(data)
   	{
   		console.log(data);
        if (data == 1) {
          alert('商品已加入购物车');
        }else{
        	alert('加入购物车失败');
        }
    });
})
//添加商品
$('#good').click(function()
{
	var gid = $(this).prev().val();
	console.log(gid);
	$.get("/index/product/addgood",{
		gid:gid,
	},function(data)
   	{
   		console.log(data);
        if (data == 1) {
          alert('商品已加入购物车');
        }else{
        	alert('加入购物车失败');
        }
    });
})
</script>
</body>
</html>