<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui.admin/css/style.css" />
<script type="text/javascript" src="__ADMIN_PUB__lib/jquery/1.11.1/jquery.min.js"></script> 
</head>
<body>
<div class="page-container">
	<form >

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌名称：</label>
			<div class=" col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.brandname}" placeholder="{$data.brandname}" disabled name="brandname">
				<input type="hidden" name="brandid" value="{$data.brandid}">
			</div>
		</div>
		<br>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">具体描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea id="content" cols="" rows="" class="textarea"  >{$data.description}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
			<br>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				
				<button class="btn btn-primary radius" id="doupdate" cancelable='false' >提交</button>
			</div>
		</div>



	</form>
</div>
</body>
</html>
<script type="text/javascript">
	$('#doupdate').click(function(e) {
		e.preventDefault();
		
		$.get('/admin/product/updatebrand',
		 	{brandid:$('input[name="brandid"]').val(),
		 	 description:$('#content').val()},
		 	 function(data){
		 	 	// console.log(data);
		 	 	if (1 == data) {
		 	 		alert('更新成功');
		 	 		parent.location.reload();
		 	 		window.close();
		 	 	} else {
		 	 		alert('修改失败');
		 	 		window.close();
		 	 	}
		 	 })
	});
</script>