<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PUB__static/h-ui.admin/css/style.css" />
<script type="text/javascript" src="__ADMIN_PUB__lib/jquery/1.11.1/jquery.min.js"></script> 
</head>
<body>
<div class="page-container">
	<form >

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class=" col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.realname}" placeholder="{$data.realname}" disabled name="realname">
				<input type="hidden" name="uid" value="{$data.uid}">
			</div>
		</div>
		<br>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class=" col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.phone}" placeholder="{$data.phone}"  name="phone">
			</div>
		</div>
		<br>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class=" col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="{$data.email}" name="email" value="{$data.email}">
			</div>
		</div>
			<br>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所在城市：</label>
			<div class=" col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="city">
					<option value="" selected>请选择城市</option>
					<option value="北京">北京</option>
					<option value="上海">上海</option>
					<option value="广州">广州</option>
					<option value="天津">天津</option>
					<option value="南京">南京</option>
					<option value="武汉">武汉</option>
					<option value="大理">大理</option>
					<option value="长春">长春</option>
					<option value="鹤壁">鹤壁</option>
				</select>
				</span> </div>
		</div>
		<br>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" ></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<br>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				
				<button class="btn btn-primary radius" id="doupdate" cancelable='false' >提交</button>
			</div>
		</div>



	</form>
</div>
</body>
</html>
<script type="text/javascript">
	$('#doupdate').click(function(e) {
		e.preventDefault();
		if($('input[name="phone"]').val() == '') {
			alert('手机号不能为空');
			$('input[name="phone"]').focus();
			return false;
		} else if(!$('input[name="phone"]').val().match(/^(((13[0-9]{1})|159|153)+\d{8})$/)) {
			alert('手机号格式不正确');
			return false;
		}

		// 验证邮箱
		if ($('input[name="email"]').val() == '') {
			alert('邮箱不能为空');
			$('input[name="email"]').focus();
			return false;
		} else if(!$('input[name="email"]').val().match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)) {
			alert("邮箱格式不正确"); 
			$('input[name="email"]').focus();
			return false;
		}

		if ($('select[name="city"]').val() == '') {
			alert('城市不能为空');
			return false;
		}
		$.get('/admin/user/updateUser',
		 	{uid:$('input[name="uid"]').val(),
		 	 phone:$('input[name="phone"]').val(),
		 	 email:$('input[name="email"]').val(),
		 	 city:$('select[name="city"]').val()}, function(data){
		 	 	if (1 == data) {
		 	 		alert('更新成功');
		 	 		parent.location.reload();
		 	 		window.close();
		 	 	} else {
		 	 		alert('修改失败');
		 	 		window.close();
		 	 	}
		 	 })
	});
</script>